.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  /* .one {
    grid-column: 1;
    grid-row: 1;
    background-color: #a51f1f;
  }
  .two {
    grid-column: 2;
    grid-row: 2;
    background-color: #a44780;
  }
  .three {
    grid-column: 3;
    grid-row: 3;
    background-color: #4e1fa5;
  }
  .four {
    grid-column: 4;
    grid-row: 4;
    background-color: #000000;
  }
  .five {
    grid-column: 5;
    grid-row: 5;
    background-color: #1fa521;
  }
  .six {
    grid-column: 6;
    grid-row: 6;
    background-color: #aa8ab0;
  } */